<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink='/' class="navbar navbar-brand">Princess Jewellery Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id='navbar-toggle'>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink='/buy' routerLinkActive='active' class="nav-link">Buy</a>
      </li>
      <li class="nav-item">
        <a routerLink='/sell' routerLinkActive='active' class="nav-link">Sell</a>
      </li>
    </ul>
  </div>
</nav>